@model IEnumerable<CharacterGen5th.Models.Class>

@{
    ViewBag.Title = "Class";
}
<script src="~/Scripts/Controllers/ClassController.js"></script>
<body ng-app="class">
    <div ng-controller="classController">
        <table>

            <tr>
                <th>Level</th>
                <th>Class</th>
                <th>Hit Die</th>
                <th>Hit Points</th>
            </tr>

            <tr ng-repeat="i in classSelection track by $index">
                <td>{{i.id}}</td>
                <td>
                    <select ng-model="i.class" ng-options="class.Name for class in classes"></select>
                </td>
                <td>{{class.HitDie}}</td>
                <td><input type="text" ng-model="line.hitPoints" /></td>
            </tr>
        </table>}}
        {{hitPointTotal}}
    </div>
</body>