@model IEnumerable<CharacterGen5th.Models.Class>

@{
    ViewBag.Title = "Class";
}

<table>

    <tr>
        <th>Level</th>
        <th>Class</th>
        <th>Hit Die</th>
        <th>Hit Points</th>
    </tr>

    @for (var i = 1; i <= 20; i++)
    {
        <tr>
            <td>@i</td>
            
            <td>
                <select class="ClassSelector">
                    <option>Choose A Class</option>
                    @foreach (var className in Model)
                    {
                        <option value="@className.Class_Id">@className.Name</option>
                    }

                </select>
            </td>

            <td>d10</td>
            <td>@Html.TextBox("hitPointsForLevel" + @i)</td>
        </tr>
    }
</table>
