<script src="~/Scripts/Controllers/ClassController.js"></script>
<body ng-app="class">
    <div ng-controller="classController">
        <table>

            <tr>
                <th>Level</th>
                <th>Class</th>
                <th>Hit Die</th>
                <th>Hit Points</th>
            </tr>

            <tr ng-repeat="level in classLevels track by $index">
                <td>{{level.id}}</td>
                <td>
                    <select ng-model="level.classSelected" ng-options="class.Name for class in classes"></select>
                </td>
                <td>{{level.classSelected.HitDie}}</td>
                <td><input type="text" ng-model="level.hitPoints" ng-change="evalHitPoints()"/></td>
            </tr>
        </table>
        <label>Total Hit Points: {{hitPointTotal}}</label>
    </div>
</body>