@model CharacterGen5th.Models.ViewModels.DemographicViewModel

@{
    ViewBag.Title = "Demographic";
}
<script src="~/Scripts/DemographicController.js"></script>
<html>
<body ng-app="demographic">
    <div ng-controller="demographicController">
        <div id="scores">
            <table id="scoreTable" style="width:100%">
                <tr>
                    <td class="width5Percent"></td>
                    <td class="width10Percent">Base Score</td>
                    <td class="width19Percent">Bonus</td>
                    <td class="width19Percent">Racial Mod</td>
                    <td class="width19Percent">Total</td>
                    <td class="width19Percent">Points</td>
                </tr>

                <tr>
                    <td>STR</td>
                    <td><input class="statsLabel" type="text" ng-model="strScore" /></td>
                    <td><label class="statsLabel" ng-model="strBonus"></label></td>
                    <td><label class="statsLabel" ng-model="strRacialMod"></label></td>
                    <td><label class="statsLabel" ng-model="strTotal"></label></td>
                    <td><label class="statsLabel" ng-model="strPoints"></label></td>
                </tr>

                <tr>
                    <td>DEX</td>
                    <td><input class="statsLabel" type="text" ng-model="strScore" /></td>
                    <td><label class="statsLabel" ng-model="dexBonus"></label></td>
                    <td><label class="statsLabel" ng-model="dexRacialMod"></label></td>
                    <td><label class="statsLabel" ng-model="dexTotal"></label></td>
                    <td><label class="statsLabel" ng-model="dexPoints"></label></td>
                </tr>

                <tr>
                    <td>CON</td>
                    <td><input class="statsLabel" type="text" ng-model="strScore" /></td>
                    <td><label class="statsLabel" ng-model="conBonus"></label></td>
                    <td><label class="statsLabel" ng-model="conRacialMod"></label></td>
                    <td><label class="statsLabel" ng-model="conTotal"></label></td>
                    <td><label class="statsLabel" ng-model="conPoints"></label></td>
                </tr>

                <tr>
                    <td>INT</td>
                    <td><input class="statsLabel" type="text" ng-model="strScore" /></td>
                    <td><label class="statsLabel" ng-model="intBonus"></label></td>
                    <td><label class="statsLabel" ng-model="intRacialMod"></label></td>
                    <td><label class="statsLabel" ng-model="intTotal"></label></td>
                    <td><label class="statsLabel" ng-model="intPoints"></label></td>
                </tr>

                <tr>
                    <td>WIS</td>
                    <td><input class="statsLabel" type="text" ng-model="strScore" /></td>
                    <td><label class="statsLabel" ng-model="wisBonus"></label></td>
                    <td><label class="statsLabel" ng-model="wisRacialMod"></label></td>
                    <td><label class="statsLabel" ng-model="wisTotal"></label></td>
                    <td><label class="statsLabel" ng-model="wisPoints"></label></td>
                </tr>

                <tr>
                    <td>CHA</td>
                    <td><input class="statsLabel" type="text" ng-model="strScore" /></td>
                    <td><label class="statsLabel" ng-model="chaBonus"></label></td>
                    <td><label class="statsLabel" ng-model="chaRacialMod"></label></td>
                    <td><label class="statsLabel" ng-model="chaTotal"></label></td>
                    <td><label class="statsLabel" ng-model="chaPoints"></label></td>
                </tr>

                <tr>
                    <td colspan="5"></td>
                    <td><label class="statsLabel" ng-model="pointBuyTotal">6/27</label></td>
                </tr>
            </table>
        </div>

        <div id="demographic">
            <label>Player Name</label><input type="text" ng-model="playerName">
            <label>Character Name</label><input type="text" ng-model="characterName">
            <label>Age</label><input type="text" ng-model="age">

            <label>Gender</label>
            <select ng-model="gender" ng-options="gender for gender in genders">
            </select>

            <label>Height</label><input type="text" ng-model="height">
            <label>Weight</label><input type="text" ng-model="weight">
            <label>Eyes</label><input type="text" ng-model="Eyes">
            <label>Hair</label><input type="text" ng-model="hair">
            <label>Skin</label><input type="text" ng-model="skin">
            <label>Wealth</label><input type="text" ng-model="wealth">
        </div>

        <div id="race">
            <span>
                <label>Race</label>
                <select ng-model="race" ng-options="race for race in races"></select>
            </span>
        </div>

        <div>
            <div id="alignment">
                <span>
                    <label>Alignment</label>
                    <select ng-model="alignment" ng-options="alignment for alignment in alignments"></select>
                </span>

                <span>
                    <label>Diety</label>
                    <select ng-model="god" ng-options="god for god in gods"></select>
                </span>
            </div>
        </div>

        <div class="float-right">
            <div id="RaceSummary">
                <p>This is the Race Summary</p>
            </div>

            <div id="GodSummary">
                <p>this is the god summary</p>
            </div>
        </div>
    </div>
</body>
</html>