<script src="~/Scripts/Controllers/DemographicController.js"></script>
<html>
<body ng-app="demographic">
    <div ng-controller="demographicController">
        <div class="col-lg-5" id="scores">
            <span class="row">
                <label class="col-lg-1"></label>
                <label class="col-lg-2">Base Score</label>
                <label class="col-lg-2">Bonus</label>
                <label class="col-lg-2">Racial Mod</label>
                <label class="col-lg-2">Total</label>
                <label class="col-lg-2">Points</label>
            </span>

            <span class="row">
                <label class="col-lg-1">STR</label>
                <input class="col-lg-2" type="text" ng-model="stats.str.score" ng-change="UpdateStat(stats.str)" />
                <label class="col-lg-2">{{stats.str.bonus}}</label>
                <label class="col-lg-2">{{stats.str.racialMod}}</label>
                <label class="col-lg-2">{{stats.str.total}}</label>
                <label class="col-lg-2">{{stats.str.points}}</label>
            </span>

            <span class="row">
                <label class="col-lg-1">DEX</label>
                <input class="col-lg-2" type="text" ng-model="stats.dex.score" ng-change="UpdateStat(stats.dex)" />
                <label class="col-lg-2">{{stats.dex.bonus}}</label>
                <label class="col-lg-2">{{stats.dex.racialMod}}</label>
                <label class="col-lg-2">{{stats.dex.total}}</label>
                <label class="col-lg-2">{{stats.dex.points}}</label>
            </span>

            <span class="row">
                <label class="col-lg-1">CON</label>
                <input class="col-lg-2" type="text" ng-model="stats.con.score" ng-change="UpdateStat(stats.con)" />
                <label class="col-lg-2">{{stats.con.bonus}}</label>
                <label class="col-lg-2">{{stats.con.racialMod}}</label>
                <label class="col-lg-2">{{stats.con.total}}</label>
                <label class="col-lg-2">{{stats.con.points}}</label>
            </span>

            <span class="row">
                <label class="col-lg-1">INT</label>
                <input class="col-lg-2" type="text" ng-model="stats.int.score" ng-change="UpdateStat(stats.int)" />
                <label class="col-lg-2">{{stats.int.bonus}}</label>
                <label class="col-lg-2">{{stats.int.racialMod}}</label>
                <label class="col-lg-2">{{stats.int.total}}</label>
                <label class="col-lg-2">{{stats.int.points}}</label>
            </span>

            <span class="row">
                <label class="col-lg-1">WIS</label>
                <input class="col-lg-2" type="text" ng-model="stats.wis.score" ng-change="UpdateStat(stats.wis)" />
                <label class="col-lg-2">{{stats.wis.bonus}}</label>
                <label class="col-lg-2">{{stats.wis.racialMod}}</label>
                <label class="col-lg-2">{{stats.wis.total}}</label>
                <label class="col-lg-2">{{stats.wis.points}}</label>
            </span>

            <span class="row">
                <label class="col-lg-1">CHA</label>
                <input class="col-lg-2" type="text" ng-model="stats.cha.score" ng-change="UpdateStat(stats.cha)" />
                <label class="col-lg-2">{{stats.cha.bonus}}</label>
                <label class="col-lg-2">{{stats.cha.racialMod}}</label>
                <label class="col-lg-2">{{stats.cha.total}}</label>
                <label class="col-lg-2">{{stats.cha.points}}</label>
            </span>

            <span class="row">
                <label class="pull-right" ng-model="pointBuyTotal">{{pointsRemaining}}</label>
            </span>
        </div>

        <div class="col-lg-2" id="demographic">
            <span class="row"><label>Player Name</label><input class="pull-right" type="text" ng-model="playerName"></span>
            <span class="row"><label>Character Name</label><input class="pull-right" type="text" ng-model="characterName"></span>
            <span class="row"><label>Age</label><input class="pull-right" type="text" ng-model="age"></span>
            <span class="row">
                <label>Gender</label>
                <select ng-model="gender" ng-options="gender for gender in genders"></select>
            </span>
            <span class="row"><label>Height</label><input class="pull-right" type="text" ng-model="height"></span>
            <span class="row"><label>Weight</label><input class="pull-right" type="text" ng-model="weight"></span>
            <span class="row"><label>Eyes</label><input class="pull-right" type="text" ng-model="eyes"></span>
            <span class="row"><label>Hair</label><input class="pull-right" type="text" ng-model="hair"></span>
            <span class="row"><label>Skin</label><input class="pull-right" type="text" ng-model="skin"></span>
            <span class="row"><label>Wealth</label><input class="pull-right" type="text" ng-model="wealth"></span>
        </div>

        <div class="col-lg-2" id="race">
            <span class="row">
                <label>Race</label>
                <select class="pull-right" ng-model="race" ng-options="race.RaceName for race in races"></select>
            </span>
            <div>
                <span class="row">
                    <label>Alignment</label>
                    <select class="pull-right" ng-model="alignment" ng-change="UpdateAvailableGods(alignment.Alignment_Id)" ng-options="alignment.Alignment_Name for alignment in alignments"></select>
                </span>
                <span class="row">
                    <label>Diety</label>
                    <select class="pull-right" ng-model="god" ng-options="god.Name for god in gods"></select>
                </span>
            </div>
        </div>

        <div class="col-lg-1" id="RaceSummary">
            <label>Name: {{race.RaceName}}</label> <br />
            <label>Size: {{race.Size.SizeName}}</label> <br />
            <label>Speed: {{race.Speed}}</label> <br />
            <label>Properties: {{race.RaceProperties}}</label> <br />
        </div>

        <div class="col-lg-2" id="GodSummary">
            <label>Name: {{god.Name}}</label> <br/>
            <label>Title: {{god.Title}}</label> <br />
            <label>Symbol: {{god.Symbol}}</label> <br />
            <label>Alignment: {{god.Alignment}}</label> <br />
            <label>Domains: {{god.Domains}}</label> <br />
        </div>
    </div>
</body>
</html>