@{
    ViewBag.Title = "Demographic";
}
<script src="~/Scripts/DemographicController.js"></script>
<html>
<body ng-app="demographic">
    <div ng-controller="demographicController">
        <div id="scores">
            <table id="scoreTable" style="width:100%">
                <tr>
                    <td class="width5Percent"></td>
                    <td class="width10Percent">Base Score</td>
                    <td class="width19Percent">Bonus</td>
                    <td class="width19Percent">Racial Mod</td>
                    <td class="width19Percent">Total</td>
                    <td class="width19Percent">Points</td>
                </tr>

                <tr>
                    <td>STR</td>
                    <td><input class="statsLabel" type="text" ng-model="str.score" ng-change="UpdateStat(str)" /></td>
                    <td><label class="statsLabel">{{str.bonus}}</label></td>
                    <td><label class="statsLabel">{{str.racialMod}}</label></td>
                    <td><label class="statsLabel">{{str.total}}</label></td>
                    <td><label class="statsLabel">{{str.points}}</label></td>
                </tr>

                <tr>
                    <td>DEX</td>
                    <td><input class="statsLabel" type="text" ng-model="dex.score" ng-change="UpdateStat(dex)" /></td>
                    <td><label class="statsLabel">{{dex.bonus}}</label></td>
                    <td><label class="statsLabel">{{dex.racialMod}}</label></td>
                    <td><label class="statsLabel">{{dex.total}}</label></td>
                    <td><label class="statsLabel">{{dex.points}}</label></td>
                </tr>

                <tr>
                    <td>CON</td>
                    <td><input class="statsLabel" type="text" ng-model="con.score" ng-change="UpdateStat(con)" /></td>
                    <td><label class="statsLabel">{{con.bonus}}</label></td>
                    <td><label class="statsLabel">{{con.racialMod}}</label></td>
                    <td><label class="statsLabel">{{con.total}}</label></td>
                    <td><label class="statsLabel">{{con.points}}</label></td>
                </tr>

                <tr>
                    <td>INT</td>
                    <td><input class="statsLabel" type="text" ng-model="int.score" ng-change="UpdateStat(int)" /></td>
                    <td><label class="statsLabel">{{int.bonus}}</label></td>
                    <td><label class="statsLabel">{{int.racialMod}}</label></td>
                    <td><label class="statsLabel">{{int.total}}</label></td>
                    <td><label class="statsLabel">{{int.points}}</label></td>
                </tr>

                <tr>
                    <td>WIS</td>
                    <td><input class="statsLabel" type="text" ng-model="wis.score" ng-change="UpdateStat(wis)" /></td>
                    <td><label class="statsLabel">{{wis.bonus}}</label></td>
                    <td><label class="statsLabel">{{wis.racialMod}}</label></td>
                    <td><label class="statsLabel">{{wis.total}}</label></td>
                    <td><label class="statsLabel">{{wis.points}}</label></td>
                </tr>

                <tr>
                    <td>CHA</td>
                    <td><input class="statsLabel" type="text" ng-model="cha.score" ng-change="UpdateStat(cha)" /></td>
                    <td><label class="statsLabel">{{cha.bonus}}</label></td>
                    <td><label class="statsLabel">{{cha.racialMod}}</label></td>
                    <td><label class="statsLabel">{{cha.total}}</label></td>
                    <td><label class="statsLabel">{{cha.points}}</label></td>
                </tr>

                <tr>
                    <td colspan="5"></td>
                    <td><label class="statsLabel" ng-model="pointBuyTotal">{{pointsRemaining}}</label></td>
                </tr>
            </table>
        </div>

        <div id="demographic">
            <label>Player Name</label><input type="text" ng-model="playerName">
            <label>Character Name</label><input type="text" ng-model="characterName">
            <label>Age</label><input type="text" ng-model="age">

            <label>Gender</label>
            <select ng-model="gender" ng-options="gender for gender in genders">
            </select>

            <label>Height</label><input type="text" ng-model="height">
            <label>Weight</label><input type="text" ng-model="weight">
            <label>Eyes</label><input type="text" ng-model="Eyes">
            <label>Hair</label><input type="text" ng-model="hair">
            <label>Skin</label><input type="text" ng-model="skin">
            <label>Wealth</label><input type="text" ng-model="wealth">
        </div>

        <div id="race">
            <span>
                <label>Race</label>
                <select ng-model="race" ng-options="race.RaceName for race in races"></select>
            </span>
        </div>

        <div>
            <div id="alignment">
                <span>
                    <label>Alignment</label>
                    <select ng-model="alignment" ng-change="UpdateAvailableGods(alignment.Alignment_Id)" ng-options="alignment.Alignment_Name for alignment in alignments"></select>
                </span>

                <span>
                    <label>Diety</label>
                    <select ng-model="god" ng-options="god.Name for god in gods"></select>
                </span>
            </div>
        </div>

        <div class="float-right">
            <div id="RaceSummary">
                <label>Name: {{race.RaceName}}</label> <br />
                <label>Size: {{race.Size}}</label> <br />
                <label>Speed: {{race.Speed}}</label> <br />
                <label>Properties: {{race.RaceProperties}}</label> <br />
            </div>

            <div id="GodSummary">
                <label>Name: {{god.Name}}</label> <br/>
                <label>Title: {{god.Title}}</label> <br />
                <label>Symbol: {{god.Symbol}}</label> <br />
                <label>Alignment: {{god.Alignment}}</label> <br />
                <label>Domains: {{god.Domains}}</label> <br />
            </div>
        </div>
    </div>
</body>
</html>