<script src="~/Scripts/Controllers/SkillController.js"></script>
<html>
<body ng-app="skill">
    <div ng-controller="skillController">
        <table>
            <tr>
                <th>Name</th>
                <th>Ability Mod</th>
                <th>Rank</th>
                <th>Misc</th>
            </tr>

            <tr ng-init="skills = init()" ng-repeat="skill in skills track by $index">
                <td>{{skill.SkillName}}</td>
                <td>0</td>
                <td><input type="text" /></td>
                <td><input type="text" /></td>
            </tr>

        </table>
    </div>
</body>
</html>