@model IEnumerable<CharacterGen5th.Models.Skill>

@{
    ViewBag.Title = "Skills";
}


<table>
    <tr>
        <th>Name</th>
        <th>Ability Mod</th>
        <th>Rank</th>
        <th>Misc</th>
    </tr>

    @foreach (var skill in Model)
    {
        <tr>
            <td>@skill.Skill1</td>
            <td>0</td>
            <td><input type="text" /></td>
            <td><input type="text" /></td>
        </tr>
    }
</table>