@{
    ViewBag.Title = "Stats";
}

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
</script>

<style>
    #scores {
        float: left;
        border: none;
        width: 25%;
        margin: 0px auto;
        border: 1px solid black;
        border-collapse: collapse;
        margin-right: 10px;
    }

    #demographic, #alignment, #race {
        float: left;
        border: none;
        width: 10%;
        margin: 0px auto;
        border: 1px solid black;
        border-collapse: collapse;
    }

    #scores > label {
        display: inline-block;
        border: 1px solid black;
        border-collapse: collapse;
        width: 13%;
        margin-right: 10px;
        margin-bottom: 10px;
        text-align: left;
    }

    label {
        display: inline-block;
        width: 25%;
        margin-right: 30px;
        margin-bottom: 10px;
        text-align: left;
    }

    td > input[type="text"] {
        text-align: center;
        width: 100%;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    #demographic > input[type="text"] {
        text-align: center;
        width: 50%;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    #scoreTable td {
        text-align: center;
    }
</style>

<html>
<body>

    <div id="scores">
        <table id="scoreTable" style="width:100%">
            <tr>
                <td style="width:5%"></td>
                <td style="width:10%">Base Score</td>
                <td style="width:19%">Racial Mod</td>
                <td style="width:19%">Total</td>
                <td style="width:19%">Bonus</td>
                <td style="width:19%">Points</td>
            </tr>

            <tr>
                <td>STR</td>
                <td><input type="text" id="strScore"></td>
                <td id="strRacialMod">0</td>
                <td id="strTotal">0</td>
                <td id="strBonus">0</td>
                <td id="strPoints">0</td>
            </tr>

            <tr>
                <td>DEX</td>
                <td><input type="text" id="dexScore"></td>
                <td id="dexRacialMod">0</td>
                <td id="dexTotal">0</td>
                <td id="dexBonus">0</td>
                <td id="dexPoints">0</td>
            </tr>

            <tr>
                <td>CON</td>
                <td><input type="text" id="dexScore"></td>
                <td id="conRacialMod">0</td>
                <td id="conTotal">0</td>
                <td id="conBonus">0</td>
                <td id="conPoints">0</td>
            </tr>

            <tr>
                <td>INT</td>
                <td><input type="text" id="dexScore"></td>
                <td id="intRacialMod">0</td>
                <td id="intTotal">0</td>
                <td id="intBonus">0</td>
                <td id="intPoints">0</td>
            </tr>

            <tr>
                <td>WIS</td>
                <td><input type="text" id="dexScore"></td>
                <td id="wisRacialMod">0</td>
                <td id="wisTotal">0</td>
                <td id="wisBonus">0</td>
                <td id="wisPoints">0</td>
            </tr>

            <tr>
                <td>CHA</td>
                <td><input type="text" id="dexScore"></td>
                <td id="chaRacialMod">0</td>
                <td id="chaTotal">0</td>
                <td id="chaBonus">0</td>
                <td id="chaPoints">0</td>
            </tr>

            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>20/20</td>
            </tr>
        </table>
</div>

        <div id="demographic">
            <label>Player Name</label><input type="text">
            <label>Character Name</label><input type="text">
            <label>Age</label><input type="text">
            <label>Gender</label><input type="text">
            <label>Height</label><input type="text">
            <label>Weight</label><input type="text">
            <label>Eyes</label><input type="text">
            <label>Hair</label><input type="text">
            <label>Skin</label><input type="text">
            <label>Wealth</label><input type="text">
        </div>


        <div>
            <div id="race">
                <span>
                    <label>Race</label>
                    <select id="raceSelection">
                        <option>Race</option>
                    </select>
                </span>
            </div>

            <div id="alignment">
                <span>
                    <label>Alignment</label>
                    <select id="alignmentSelection">
                        <option>Alignment</option>
                    </select>
                </span>

                <span>
                    <label>Diety</label>
                    <select id="DietySelection">
                        <option>Diety</option>
                    </select>
                </span>
            </div>
        </div>

</body>
</html>