<script src="~/Scripts/Controllers/SkillController.js"></script>
<body ng-app="skill">
    <div ng-controller="skillController">
        <table>
            <tr>
                <th>Name</th>
                <th>Ability</th>
                <th>Ability Mod</th>
                <th>Rank</th>
                <th>Misc</th>
                <th>Total</th>
            </tr>

            <tr ng-repeat="skill in skills track by $index">
                <td>{{skill.SkillName}}</td>
                <td>{{skill.AbilityName}}</td>
                <td>{{skill.AbilityScore}}</td>
                <td><input type="text" ng-model="skill.Rank" /></td>
                <td><input type="text" ng-model="skill.MiscMod" /></td>
                <td><label>{{getTotal(skill)}}</label></td>
            </tr>
        </table>
    </div>
</body>